<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Panel de Control
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let channel of plot.channels">
    <!-- <ion-header collapse="condense"> -->
    <ion-header>
      <ion-title color="light" size="large">{{channel.name}} </ion-title>
    </ion-header>
    <ion-list class="parcel-controls">
      <ion-item>
        <ion-label>Activar riego</ion-label>
        <ion-toggle [ngModel]="channel.irrigantion" (click)="toggleIrrigation($event, channel)" color="primary"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Activar abono</ion-label>
        <ion-toggle [ngModel]="channel.fertilizer" (click)="toggleFertilizer($event, channel)" color="secondary"></ion-toggle>
      </ion-item>

    </ion-list>
  </div>
</ion-content>