<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Panel de Control
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense"> -->
  <ion-header>
      <ion-title color="light" size="large">Parcela del rey </ion-title>
  </ion-header>
  <ion-list class="parcel-controls" >
    <ion-item>
      <ion-label>Activar riego</ion-label>
      <ion-toggle color="primary"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Activar abono</ion-label>
      <ion-toggle color="secondary"></ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>
