ion-toolbar {
    --background: rgb(0, 100, 42) !important;
    --color: white;
    text-align: center;
}

ion-content {
  --background: #fff url("../../assets/sprinkler.svg") no-repeat center center / cover !important;
  --padding-top: 16px;

  .connection-col {
    --ion-grid-column-padding: 0px;
  }

  .connection-image {
    --size: 100px;
    margin: auto;
  }

  .connection-host {
    background-color: rgba(61, 83, 66, 0.8);
    color: rgb(199, 228, 194);
    font-style: lato bold;
    text-align: center;
  }
}


ion-icon {
  // default: not-fav
  &[name="heart"] {
    fill: grey;
  }

  &[name="heart"].fav {
    fill: red;
  }
}
